<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Chef - Create Account </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/create.css" type="text/css" />

</head>
<body>

  <section class="left-side">

    <h1> Welcome <br> To Social Chef</h1>
    <h2>A Place to Discover A <br> New World Of Flavors </h2>

  </section>

  <main>
   
    <div class="f-container">
        <h1 class="top-and-bottom">Create New Account </h1>

        <form>

          <div class="info-box">
            <div class="input-fields">
              <label for="">First Name</label>
              <input type="text" name="username">
              <label for="">Username</label>
              <input type="text" name="username">
              <label for="">Password</label>
              <input type="password">
            </div>

            <div class="input-fields">
              <label for="">Last Name</label>
              <input type="text" name="username">
              <label for="">Country</label>
              <input type="text" name="username">
              <label for="">Re-Type Password</label>
              <input type="password">
            </div>
          </div>
          
          


         
          
          

          <button>Register</button>
           
          
        </form>
        <p class="top-and-bottom" >Oh You do Have an Account? Don't Worry <br> <a href="/">Click Here</a>  to Log In</p>
    </div>

  </main>
  
</body>
</html>
