<!-- BASIC HEADER FOR EVERY EJS FILE -->
<%- include("components/header.ejs") %>

  <!-- TITLE OF THE PAGE -->
  <title>Social Chef - Home </title>

  <form action="/logout">
    <button>Logout!</button>
  </form>
  <form action="/create">
    <button>Create an account!</button>
  </form>

  </body>

  </html>
