<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Chef - Login </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/login-and-create.css" type="text/css" />  
<link rel="stylesheet" href="/css/home.css" type="text/css" />
  

</head>
<body>

  <!-- This is the image on the left -->
  <section class="left-side">

    <h1> Welcome <br> To Social Chef</h1>
    <h2>A Place to Discover A <br> New World Of Flavors </h2>

  </section>

  <!-- This is the login form -->
  <main>
    
    <div class="f-container">
        <h1 class="top-and-bottom">Log Into Account </h1>

        <!-- This form will send info to database to see if user exists -->
        <form>

          <div class="input-fields">
            <label for="">Username</label>
            <input type="text" name="username">
          </div>
          
          <div class="input-fields">
            <label for="">Password</label>
            <input type="password">
          </div>

          <button>Sign In</button> 
        </form>
        <p class="top-and-bottom" >Don't Have an Account? Don't Worry <br> <a href="/create">Click Here</a> to Create One</p>
    </div>

  </main>
  
</body>
</html>
