<%- include("components/header.ejs") %>

<!-- TITLE OF THE PAGE -->
<title>Social Chef - Home </title>

<!-- FONT USED FOR THE PAGE (RETRIVED FROM GOOGLE FONTS) -->

<!-- CSS UTILIZED BY THIS PAGE -->
<link rel="stylesheet" href="/css/general.css" type="text/css" />  

</head>

<body>

  <nav>
    <p>Testing</p>
  </nav>

  <div class="slip">
    <div class="slip-img">
      <img src="/img/cereal.jpg" alt="" srcset="">
    </div>
    <div class="slip-body">
       <p>Name: Cereal</p>
       <p>Calories: 300</p>
       <p>Servings - 1</p>
       <p>Cuisine - American</p>
    </div>
    <div class="slip-util">
      <button>Info</button>
      <button>Save</button>
    </div>
  </div>
  


</body>
</html>
