<%- include("components/header.ejs") %>

<!-- TITLE OF THE PAGE -->
<title>Social Chef - Home </title>

<!-- FONT USED FOR THE PAGE (RETRIVED FROM GOOGLE FONTS) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo&family=Nunito:wght@200&display=swap" rel="stylesheet">
<!-- CSS UTILIZED BY THIS PAGE -->
<link rel="stylesheet" href="/css/general.css" type="text/css" />  

</head>

<body>

  <nav>
    <section class="nav-header">
      <h1>Welcome <br> User</h1>
    </section>

    <section class="nav-body">
      <div class="body-row active"><a href="">Home</a></div>
      <div class="body-row"><a href="">Saved</a></div>
      <div class="body-row"><a href="">Info</a></div>
    </section>

    <section class="nav-footer">
      <div class="body-row"><a href="">Logout</a></div>
    </section>

  </nav>

  <div class="slip">
    <div class="slip-img">
      <img src="/img/cereal.jpg" alt="" srcset="">
    </div>
    <div class="slip-body">
       <p>Name: Cereal</p>
       <p>Calories: 300</p>
       <p>Servings - 1</p>
       <p>Cuisine - American</p>
    </div>
    <div class="slip-util">
      <button>Info</button>
      <button>Save</button>
    </div>
  </div>
  


</body>
</html>
