<!-- BASIC HEADER FOR EVERY EJS FILE -->
<%- include("components/header.ejs") %>

  <!-- TITLE OF THE PAGE -->
  <title>Social Chef - Login </title>

  <!-- FONT USED FOR THE PAGE (RETRIVED FROM GOOGLE FONTS) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  <!-- CSS UTILIZED BY THIS PAGE -->
  <link rel="stylesheet" href="/css/login-and-create.css" type="text/css" />
  <link rel="stylesheet" href="/css/login.css" type="text/css" />


  </head>

  <body>

    <!-- This is the image on the left -->
    <section class="left-side">

      <h1> Welcome <br> To Social Chef</h1>
      <h2>A Place to Discover A <br> New World Of Flavors </h2>

    </section>

    <!-- This is the login form -->
    <main>

      <div class="f-container">
        <h1>Log Into Account </h1>

        <!-- This form will send info to database to see if user exists -->
        <form method="POST" action="/login">

          <div class="input-fields">
            <label for="username">Username</label>
            <input type="text" name="username">
          </div>

          <div class="input-fields">
            <label for="password">Password</label>
            <input type="password" name="password">
          </div>

          <button>Sign In</button>
        </form>
        <p class="top-and-bottom">Don't Have an Account? Don't Worry <br> <a href="/create">Click Here</a> to Create One
        </p>
      </div>

    </main>

  </body>

  </html>
