<%- include("components/header.ejs") %>

<!-- TITLE OF THE PAGE -->
<title>Social Chef - Settings </title>

<!-- FONT USED FOR THE PAGE (RETRIVED FROM GOOGLE FONTS) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo&family=Nunito:wght@200&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/20718ccc33.js" crossorigin="anonymous" defer></script>

<!-- CSS UTILIZED BY THIS PAGE -->
<link rel="stylesheet" href="/css/general.css" type="text/css" />

<body>

  <div class="trim"></div>



</body>
</html>
