body {
  margin: 45px 0 0 215px;
  background-color: #FFFBF8;
  font-family: 'Heebo', sans-serif;
  z-index: -1;
}

.rec-of-day h1,
.input-container h1 {
  color: #daa84c;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 26px;
}

.input-container {
  margin: 5rem 5% 5rem 5%;

}

.input-container h1 {
  margin-bottom: 4rem;
}


nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: #fbe8d6;
  width: 215px;
  min-height: 100%;
  height: auto;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.trim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #fbe8d6;
  height: 45px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-header {
  background-color: #535546;
  padding: 2.3rem;
  color: white;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  line-height: 35px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

.nav-body {
  margin-top: 2rem;
}

.body-row {
  font-size: 16px;
  padding: 1rem;
  transition: 0.4s;
}

.fa-solid {
  color: #7a5d35;
}

.body-row a {
  text-decoration: none;
  color: #7a5d35;
  margin-left: 5px;
}

.active {
  background-color: #CBAC70;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


.body-row:hover {
  background-color: #eece8f84;
}

.nav-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  margin-bottom: 2rem;
}

.slip {
  display: flex;
  flex-direction: row;
  column-gap: 2.2rem;
  max-height: 10.5rem;
  max-width: 49rem;
  margin: 3rem auto;
  border-radius: 20px;
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slip-img img {
  height: 100%;
  object-fit: contain;
  border-radius: 20px 0 0 20px;
}

.slip-img {
  width: 20%;
  margin-right: 0.3rem;

}

.slip-body {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 70px 70px 70px;

  margin-top: 2rem;
  margin-bottom: 2rem;
  column-gap: 0.1rem;
}

.slip-body p {
  margin: 0;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;

}

.slip-util {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.slip-util button {
  width: 80px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.save-button {
  background-color: #535546;
  transition: 0.4s;
}

.save-button:hover {
  background-color: #737567;
  border-radius: 0;
  border-radius: 10px;
}

.info-button {
  background-color: #CBAC70;
  transition: 0.4s;

}

.info-button:hover {
  background-color: #f7d99d;
  border-radius: 0;
  border-radius: 10px;
}

.delete-button {
  background-color: #8e4343;
  transition: 0.4s;
}

.delete-button:hover {
  background-color: #8e4343;
  border-radius: 0;
  border-radius: 10px;
}
