.rec-of-day {
  margin: 8rem 5% 0 5%;
}

.rec-of-day h1,
.input-container h1 {
  color: #daa84c;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 28px;
}

.input-container {
  margin: 5rem 5% 5rem 5%;
  
}

.input-container h1 {
  margin-bottom: 4rem;
}

#meal-time {
  accent-color: #daa84c;
  border: white;
}

.input-container h1 {
  margin-top: 4rem;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

label {
  float: left;
  text-align: left;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
  color: #daa84c;
}

#first {
  padding-left: 700px;
}

.input-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cuisine-input,
.key-text {
  height: 25px;
  border-left: none;
  border-right: none;
  border-top: none;
}


.key-text {
  width: 15rem;
}

.cuisine-input {
  width: 10rem;
  height: 30px;
}

form button {
  margin-top: 1rem;
  background-color: #535546;
  width: 85px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

form button:hover {
  border-radius: 20px;
}
